    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="Noraa Junker" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    <!---
    <script>
        let params = new URLSearchParams(document.location.search);
        if (params.has("namechange")) {
            sessionStorage.setItem("namechange", params.get("namechange"));
        }
        const name = sessionStorage.getItem("namechange");
        if (name !== null) {
            document.addEventListener("DOMContentLoaded", () => {
                const mainElement = document.getElementById("main");
                const header = document.getElementsByTagName("header")[0];
                const title = document.getElementsByTagName("title")[0];
                mainElement.innerHTML = mainElement.innerHTML.replaceAll("Aaron", name);
                header.innerHTML = header.innerHTML.replaceAll("Aaron", name);
                title.innerHTML = title.innerHTML.replaceAll("Aaron", name);
                document.title = title.innerHTML;
            });
        }

    </script>-->