---
layout: default
---
<div class="categories">
    <h1 class="h1 category-title">
      Category:&nbsp;{{ page.category-full-name }}
    </h1>
    <div class="category-description">
      {{ content }}
    </div>
    <div class="posts">
      {% for post in site.categories[page.category-name] %}
        <article class="post">

          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          
          <div class="entry">
            {% if post.description %}<p>{{ post.description }}</p>{% else %}{{ post.excerpt }}{% endif %}
          </div>
    
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
      {% endfor %}
    </div>
</div>
